@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Playfair+Display&display=swap');

/*
    --- VARIABLES ---
*/
:root {
    --eata-logo-top-font: 'Playfair Display', serif;
    --eata-logo-bt-font: 'Architects Daughter', cursive;

    --main-bg-color: #400082;

    --navbar-bg-color: #00000080;
    --navbar-sm-bg-color: #1c2331cc;

    --navbar-item-hover-bg-color: #ffffff23;
    --navbar-item-hover-fg-color: #fff;
}
/*
    --- END VARIABLES ---
*/

/*
    --- START NAVBAR ---
*/
/* Nav-bar logo */
.eata-logo {
    font-size: 1.6em;
    text-align: center; 
}

.eata-logo-top {
    font-family: var(--eata-logo-top-font);
    font-size: 1em;
}

.eata-logo-bottom {
    font-family: var(--eata-logo-bt-font);
    font-size: 1.2em;
    margin-top: -14px;
}

main,
.carousel,
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item,
.view,
body,
html{
    height: 100%;
    background-color: var(--main-bg-color);
}

.navbar{
    background-color: var(--navbar-bg-color);
}

nav li {
    font-size: 1.1rem;
}

.nav-item a:hover
{
    color: var(--navbar-item-hover-fg-color) !important;
    background: var(--navbar-item-hover-bg-color);
    transition-delay: 1s;
}

.nav-link {
    padding-left: 0.7rem !important;
    padding-right: 0.7rem !important;
}

.nav-link i {
    margin-right: 0.1rem;
}

.btn-enviar-testimonio {
    margin-right: 5px;
}

.btn-enviar-testimonio i {
    margin-right: 0.3rem;
}

@media (max-width: 992px) {
    .navbar-right {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .navbar{
        background-color: var(--navbar-sm-bg-color)
    }
}

/*
    --- END NAVBAR ---
*/


/*
    --- START TRANSITIONS BETWEEN PAGES ---
*/
/*START SWUP*/
.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateY(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateY(-100%);
}

.transition-swipe {
    transition: 500ms;
    transform: translateY(0);
}

html.is-animating .transition-swipe {
    transform: translateY(100px);
}
/*END SWUP*/
/*
    --- END TRANSITIONS BETWEEN PAGES ---
*/


/*
    --- START PAGE INICIO ---
*/

/* First Slide */
.first-slide {
    background-color: #d9455f;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Second slide */
.second-slide {
    background-color: #ff9a76; 
    background-repeat: no-repeat; 
    background-size: cover;
}

/* Third slide */
.third-slide {
    background-color: #679b9b;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Slide title */
.slide-title{
    font-family: "Oleo Script";
    text-align: center;
    text-shadow: 0 2px 2px #000;
    font-size: 3rem;
    color: #FFFFFF;
    text-shadow: 4px 3px 0 #7A7A7A;
}

/* Slides subtitle */
.slide-subtitle {
    color: #FFFFFF;
    text-shadow: 3px 5px 2px #474747;
    font-family: 'Merienda One';
}

/* Slide content */
.slide-content {
    color: #FFFFFF;
    text-shadow: 3px 5px 2px #474747;
}

/*
    --- END PAGE INICIO ---
*/

/* 
    --- START PAGE DENUNCIAS ---
*/
/* START STICKY NOTES */
main .sticky-notes *{
    margin:0;
    padding:0;
}

main .sticky-notes {
    transform: translateY(80px);
}

main .sticky-notes h2 p{
    font-size:100%;
    font-weight:normal;
}
main .sticky-notes ul li{
    list-style:none;
}
main .sticky-notes ul{
    overflow:hidden;
    padding:3em;
}
main .sticky-notes ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
}
main .sticky-notes ul li{
    margin:1em;
    float:left;
}

main .sticky-notes ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
}
main .sticky-notes ul li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:140%;

    /* Word wrapping */
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;

    -ms-word-break: break-word;
    word-break: break-word;
}

main .sticky-notes ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    /* Firefox */
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

main .sticky-notes ul li a{
    -webkit-transform:rotate(-6deg);
    -o-transform:rotate(-6deg);
    -moz-transform:rotate(-6deg);
}

main .sticky-notes ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
}
main .sticky-notes ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
}
main .sticky-notes ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}

main .sticky-notes ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}

main .sticky-notes ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
}

main .sticky-notes ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
}

main .sticky-notes ul li a:hover,
main .sticky-notes ul li a:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position: relative;
    /* z-index:5; */
}

/* END STICKY NOTES */

/* 
    --- END PAGE DENUNCIAS ---
*/

/* --- START PAGE 'ALZA LA VOZ' --- */
.form-container {
    transform: translateY(15%);
}
/* --- END PAGE 'ALZA LA VOZ' --- */

/* --- START PAGE 'DENUNCIA' --- */
.denuncia-detallada {
    transform: translateY(125px);
    width: 100%;
    word-wrap: break-word;
}

.jumbotron {
    background-color: rgba(108, 47, 114, 0.5) !important;
    color: white;
}
/* --- END PAGE 'DENUNCIA' --- */