@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
        opacity: 0.5;
    }
}

main,
.carousel,
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item,
.view,
body,
html{
    height:100%;
    background-color: #400082;
}
.navbar{background-color:rgba(0,0,0,.5);}
.page-footer,.top-nav-collapse{background-color:rgba(28,35,49,0.5);}
@media only screen and (max-width:768px){.navbar{background-color:rgba(28,35,49,0.5);}}

nav li {
    font-size: 1.1rem;
}

/*BUTTON FLOW EFFECT*/
.nav-item a:hover
{
    color: #d54d7b;
    background: #d54d7b;
    box-shadow: 0 0 10px #d54d7b, 0 0 40px #d54d7b, 0 0 80px #d54d7b;
    transition-delay: 1s;
}


/*START SWUP*/
.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}

.transition-swipe {
    transition: 500ms;
    transform: translateY(0);
}

html.is-animating .transition-swipe {
    transform: translateY(100px);
}
/*END SWUP*/

/* START STICKY NOTES */
main .sticky-notes *{
    margin:0;
    padding:0;
}

main .sticky-notes {
    transform: translateY(80px);
}

main .sticky-notes h2 p{
    font-size:100%;
    font-weight:normal;
}
main .sticky-notes ul li{
    list-style:none;
}
main .sticky-notes ul{
    overflow:hidden;
    padding:3em;
}
main .sticky-notes ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
}
main .sticky-notes ul li{
    margin:1em;
    float:left;
}

main .sticky-notes ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
}
main .sticky-notes ul li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:140%;
}

main .sticky-notes ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    /* Firefox */
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

main .sticky-notes ul li a{
    -webkit-transform:rotate(-6deg);
    -o-transform:rotate(-6deg);
    -moz-transform:rotate(-6deg);
}

main .sticky-notes ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
}
main .sticky-notes ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
}
main .sticky-notes ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}

main .sticky-notes ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}

main .sticky-notes ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
}
main .sticky-notes ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
}


main .sticky-notes ul li a:hover,
main .sticky-notes ul li a:focus{
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position: relative;
    z-index:5;
}
/* END STICKY NOTES */