@import "https://fonts.googleapis.com/css?family=Lato:100";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
}

body, html, .page-content {
    height: 70%;
}


/* Nav bar */
nav {
    height: 80px;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}

label.logo {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
    text-transform: uppercase;
    padding: 1%;
    margin-left: 3%;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,
a:hover {
    border: 1px solid white;
    transition: .5s;
}

nav #icon {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1048px){
    span.desktop {
        display: none;
    }

    span.mobile::after {
        content: 'Azafrán';
        visibility: visible;
        font-size: 4rem;
        padding-left: 1rem;
    }

    label.logo {
        font-size: 2.5rem;
        padding-left: 60px;
    
        font-weight: bolder;
        color: white;
        padding: 0 100px;
        line-height: 80px;
        text-transform: uppercase;
        padding: 1%;
    }

    nav ul {
        margin-right: 20px;
    }

    nav a {
        font-size: 17px;
    }
}

@media (max-width: 909px){
    nav #icon {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        /* background: #2f3640; */
        background-color: rgba(0,0,0,.8);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }

    nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav a {
        font-size: 20px;
    }

    a.active,a:hover {
        border: none;
        color: #3498db;
    }

    nav ul.show {
        left: 0;
    }
}

section .page-content{
    /* background: url(../img/azafran.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px); */
    z-index: -1;
}

/*TEXT AND BACKGROUND*/
section {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, rgb(6, 155, 255), rgb(6, 155, 255), rgb(164, 9, 179), rgb(234, 0, 255));
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2px;
    position: relative;
    padding: 3rem 5rem;
    text-align: center;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }

}