{% extends 'index.html' %}
{% block content %}
    <h2>¿Qué es Proyecto Azafrán?</h2>
    <p>Proyecto Azafrán aspira a ser una herramienta sin fines de lucro, utilizada para empoderar a aquell@s denunciantes de algun tipo de agresión sexual. </p>
    <p>El objetivo del proyecto es evidenciar este problema a través de la difusión de testimonios, dándole un espacio a aquellas personas que han decidido guardar silencio públicamente; de forma opcional, se busca informar a estas sobre protocolos y procesos legales disponibles de acuerdo a su dependencia, si es que se desea proceder de esta forma. </p>
    <p>No somos cómplices ni dependemos de ninguna empresa de terceros; somos estudiantes que quieren participar en la solución de un problema social que se ha ignorado durante mucho tiempo.</p>
    <p>Proyecto Azafrán está actualmente en su etapa de desarrollo, pero puedes participar en esta etapa respondiendo a la encuesta. </p>
{% endblock content %}
