{% extends 'index.html' %}
{% block content %}
    <h2>¿Qué es Proyecto Azafrán?</h2>
    <p>Proyecto Azafrán busca ser una herramienta sin fines de lucro, utilizada para empoderar a aquell@s denunciantes de algun tipo de agresión sexual. Se espera evidenciar este problema a través de la difusión de testimonios, dándole un espacio a aquellas personas que han decidido guardar silencio públicamente. También se busca informar a estas sobre protocolos y procesos legales disponibles de acuerdo a su dependencia, si es que se desea proceder de esta forma. No somos cómplices ni dependemos de ninguna empresa de terceros; somos estudiantes en busca de evidenciar y solucionar un problema social que se ha ignorado durante mucho tiempo.</p>

    <p>Este proyecto está actualmente en su etapa de desarrollo, pero puedes participar en esta etapa respondiendo la encuesta. </p>
{% endblock content %}
