{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Proyecto Azafrán</title>
</head>

<body>
    <div class="animation-area">
        <ul class="box-area">
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 1"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 2"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 2"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 1"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 2"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 1"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 2"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 2"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 1"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 2"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 1"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 2"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 2"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 1"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 2"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 1"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 2"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 2"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 1"></li>
                <li><img src="{% static 'img/petalo2.png' %}" alt="Petalo 2"></li>

                {% block content %}
    {% endblock content %}
        </ul>
    </div>
    
</body>
</html>