{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles-main.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function(){
            $('#icon').click(function(){
                $('ul').toggleClass('show');
            });
        });
    </script>
    <title>Proyecto Azafrán</title>
</head>
<body>
    <section>
        <!-- <h1>
            Proyecto Azafrán
        </h1> -->
        <nav>
            <label class="logo"><span class="desktop">Proyecto Azafrán</span><span class="mobile"></span></label>
            <ul>
                <li><a href="/">Encuesta</a></li>
                <!-- <li><a class="active" href="/">Inicio</a></li>
                <li><a href="#">Mural de testimonios</a></li>
                <li><a href="#" style="color: rgb(229, 89, 241);">Alza la voz</a></li> -->
                <li><a href="/nosotros">Sobre el proyecto</a></li> 
            </ul>

            <label id="icon">
                <i class="fas fa-bars"></i>
            </label>
        </nav>
        
        <div class="page-content">
            {% block content %}
            <h1>Participa en Proyecto Azafrán, rellenando la siguiente encuesta.</h1>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeKwncTQOC54k_VTPPOZStU8r5jdI3e47zwVv8ZYSGRdzi6hw/viewform?embedded=true" width="100%" height="80%" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
            {% endblock content %}
        </div>

        <div class="fixed-bg"></div>
    </section>
</body>
</html>