{% extends 'base.html' %}
{% block content %}
    <!-- <div class="banner-text">
        <h2>Proyecto Azafrán</h2>
        <p>En construccion</p>
    </div> -->

    <div class="banner-text">
        <div class="container">
            <span class="text1">Proyecto Azafrán</span>
            <span class="text2">Proyecto Azafrán es una plataforma orientada a evidenciar el acoso, hostigamiento y agresión sexual.
            <br><br>El sitio aún se encuentra en la etapa de desarrollo, pero puedes participar en la encuesta <a href="https://docs.google.com/forms/d/1rx70EU4WOkguARjf-VpsisgsaJHO6bxe-3dxv9y4FM0/edit?usp=sharing">aquí.</a></span>
        </div>
    </div>
{% endblock %}