{% extends 'azafran_denuncias/base.html' %}
{% load crispy_forms_tags %}

{% block base_head %}
    <title>Alza la Voz | Expón a tu Agresor</title>
{% endblock base_head %}

{% block content %}
    <div class="container form-container">
        <div class="jumbotron">
            <form action="" method="post" autocomplete="off">
                {% csrf_token %}
                {{ form.edad|as_crispy_field }}
                {{ form.genero|as_crispy_field }}
                {{ form.escuela|as_crispy_field }}
                {{ form.denuncia|as_crispy_field }}

                <div id='alza-la-voz-form-buttons'>
                    <button type="submit" class="btn btn-success btn-block btn-lg">
                        <i class="fa fa-database"></i>
                        Enviar testimonio
                    </button>
                    <a href="{% url 'denuncias' %}" class="btn btn-secondary btn-block btn-lg" id="btn-ver-testimonios">
                        <i class="fa fa-list"></i>
                        Ver testimonios
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}