{% extends 'azafran_denuncias/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>body{background-color: #400082;}</style>
    <div class="container" style="transform: translateY(15%);">
        <div class="col-md-10 offset-md-1 mt-5">
            <div class="jumbotron">
                {% csrf_token %}
                {{ form.edad|as_crispy_field }}
                {{ form.genero|as_crispy_field }}
                {{ form.escuela|as_crispy_field }}
                {{ form.denuncia|as_crispy_field }}
            </div>
        </div>
    </div>
{% endblock content %}