{% extends 'azafran_denuncias/base.html' %}
{% load crispy_forms_tags %}

{% block base_head %}
    <title>Alza la Voz - Proyecto Azafran</title>
{% endblock base_head %}

{% block content %}
<main id="swup" class="transition-fade">

<style>body{background-color: #400082;}</style>
    <div class="container" style="transform: translateY(15%);">
        <div class="col-md-10 offset-md-1 mt-5">
            <div class="jumbotron">
                <form action="" method="post" autocomplete="off">
                    {% csrf_token %}
                    {{ form.edad|as_crispy_field }}
                    {{ form.genero|as_crispy_field }}
                    {{ form.escuela|as_crispy_field }}
                    {{ form.denuncia|as_crispy_field }}

                    <div class="row">
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fa fa-database"></i> 
                            Enviar testimonio</button>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'denuncias' %}" class="btn btn-secondary btn-block btn-lg">
                                <i class="fa fa-list"></i> Ver testimonios
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}