{% extends 'azafran_denuncias/base.html' %}

{% block base_head %}
    <title>"{{denuncia.denuncia|slice:":35"}}..." | Expón a tu agresor</title>
{% endblock base_head %}

{% block content %}
    <div class="denuncia-detallada">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">"{{denuncia.denuncia|slice:":35"}}..."</h1>
                <p class="lead">{{ denuncia.denuncia }}</p>
            </div>
        </div>
    </div>
{% endblock content %}