{% extends 'azafran_denuncias/base.html' %}
{% load static %}
{% block base_head %}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@exponatuagresor"/>
    <meta name="twitter:creator" content="@exponatuagresor"/>

    <meta name="twitter:image:src" content="http://pbs.twimg.com/profile_images/1277436859023384576/ALyUUaY4_400x400.jpg"/>
    <meta name="twitter:image:width" content="400" />
    <meta name="twitter:image:height" content="400" />

    <meta property="og:title" content="{{denunciapublicada.HASHTAGS|random}} | Expón a tu agresor"//>
    <meta property="og:description" content="{{denunciapublicada.denuncia}}" />

    <title>"{{denunciapublicada.denuncia|slice:":35"}}..." | Expón a tu agresor</title>
{% endblock base_head %}

{% block content %}
    <div class="denuncia-detallada transition-swipe">

        <div class="jumbotron jumbotron-fluid">
            <div class="container" onload="denuncia_notificacion();">

                <h1 class="display-4">"{{denunciapublicada.denuncia|slice:":35"}}..."</h1>
                <p class="lead">{{ denunciapublicada.denuncia|linebreaks }}</p>

                <a id="regresar-testimonios-btn" href="{% url 'denuncias' %}" class="btn btn-red btn-lg center-block">
                    <i class="fas fa-arrow-circle-left"></i>
                    VOLVER
                </a>

            </div>
        </div>

    </div>

{% endblock content %}