{% extends 'azafran_denuncias/base.html' %}
{% load static %}
{% block base_head %}
    <title>"{{denuncia.denuncia|slice:":35"}}..." | Expón a tu agresor</title>
{% endblock base_head %}

{% block content %}
    <div class="denuncia-detallada transition-swipe">
        <div class="jumbotron jumbotron-fluid">
            <div class="container" onload="denuncia_notficacion();">
                <h1 class="display-4">"{{denuncia.denuncia|slice:":35"}}..."</h1>
                <p class="lead">{{ denuncia.denuncia|linebreaks }}</p>
            </div>
        </div>
    </div>
{% endblock content %}