{% extends 'azafran_denuncias/base.html' %}

{% load static %}

{% block base_links %}
<link rel="stylesheet" href="{% static 'css/testimonios.css' %}">
<link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
{% endblock base_links %}

{% block content %}
<body>
<div class="sticky-notes">
    <ul>
        {% for denuncia in denuncias_list %}
            <li>
                <a href="#">
                <h2>{{denuncia.escuela}}</h2>
                <p>{{denuncia.denuncia|slice:":35"}}...</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
{% endblock content %}