{% extends 'azafran_denuncias/base.html' %}
{% load static %}

{% block base_head %}
    <title>Denuncias | Expón a tu Agresor</title>
{% endblock base_head %}

{% block content %}

<div class="sticky-notes">
    <ul>
        {% for denuncia in object_list %}
            <li class="transition-swipe">
                <a href="{% url 'denuncia_detallada' denuncia.pk %}">
                <h2>{{denuncia.escuela}}</h2>
                <p>{{denuncia.denuncia|slice:":30"}}...</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}